body,
html {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
}

.is-fullheight {
  height: -webkit-fill-available;
}
.flex-1 {
  flex: 1;
}
.vote-item {
  color: gray;
}
.vote-item.up.active {
  color: green;
}
.vote-item.down.active {
  color: red;
}